apiVersion: v1
kind: Service
metadata:
  name: portfolio-service
  labels:
    app: portfolio
spec:
  type: NodePort
  selector:
    app: portfolio
  ports:
    - port: 80            # Service port
      targetPort: 80      # Container port
      nodePort: 30080     # External port on localhost
